@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300italic,500);
<style>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower');
</style>

/* Cass CSS */
.capitalize {
    text-transform: capitalize;
}

audio {
  display: none;
}

.pet-img {
  max-height: 300px;
  max-width: 230px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.wand-avatar {
  max-height: 300px;
  max-width: 230px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#wand-btn {
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
}

#wand-own-label {
  font-size: 25px;
  color: white;
}

#wand-own {
  font-size: 20px;
  color: white;
}

#wand-detail {
  margin-left: 60px;
}

#wand-detail-img {
  border-radius: 5px;
  max-height: 250px;
  max-width: auto;
}

#wand-card {
  text-align: center;
}

#wand-detail label {
  font-family: 'Indie Flower', cursive;
  color: white;
}

#wand-detail p {
  font-family: 'Indie Flower', cursive;
}

#wand-wood-core {
  color: white;
  font-family: 'Indie Flower', cursive;
}

.btn-info {
  margin-bottom: 20px;
}

#pet-list-group p {
  color: white;
}

#broom-img {
  max-height: 300px;
  max-width: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

#book-img {
  max-height: 150px;
  max-width: auto;
}

#book-detail-padding {
  padding: 10px 10px 10px 10px;
  height: 26.5em;
  width: 48em;
  text-align: center
}

#broom-detail-padding {
  background-color: rgb(171,	226,	245);
  position: absolute;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  height: 33.5em;
  width: 35em;
  text-align: center;
}

#back {
  color: white;
}

#broom-detail {
  font-size: 20px;
}

.card-body {
  height: 650px;
  padding: 5px 5px 5px 5px;
}

#supply-list {
  font-family: 'Indie Flower', cursive;
}

#book-li {
  margin-left: 17%;
  margin-top: 0.5em;
  border-radius: 5px;
}

#broom-li {
  margin-left: 17%;
  margin-top: 5px;
  border-radius: 5px;
}

#book-detail {
  background-color: rgb(171,	226,	245);
  position: absolute;
  margin-top: 0.75em;
  border-radius: 5px;
}

#house-flag {
  max-height: 300px;
  max-width: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

#user-profile-2 {
  background-color: rgb(171,	226,	245);
  width: 45em;
  position: absolute;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 5px;
  margin-left: 25em;
  text-align: center;
}

#modal-btn {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#supply-list {
  padding: 55px 65px 0px 0px;
  text-align: center;
}

#back-to-diagon {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

#user-wand-img,
#user-book-img,
#user-broom-img,
#user-pet-img {
  max-height: 200px;
  max-width: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#hogwarts-h1 {
  font-size: 172px;
  text-align: center;
}

#delete-user {
  margin-bottom: 15px;
}

.parallax {
  /* The image used */
  background-image: url("https://imgix.bustle.com/rehost/2016/9/13/70371c31-7d4c-4b46-839f-3225d06f8f99.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* End Cass CSS */


/* MAP CSS */
*{
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(18, 181, 231);
}

.container{
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(153,	150,	198, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(153,	150,	198, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(153,	150,	198, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 120px;
  margin: 20px 0px;
  font-weight: 100;
}

@media screen and (max-width: 480px){
  h1{
    font-size: 48px;
  }
  #map{
    width: 100%;
    margin-top: 25px !important;
  }
  .title ul li{
    padding: 8px 0px !important;
  }
  li a{
    padding: 9px 10px !important;
  }
  .title {
    margin-top: 30px;
  }
}

.title ul li {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  border: #fff solid 2px;
  border-radius: 50px;
  padding: 10px 0px;
  margin: 5px;
}

li a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  padding: 10px 20px
}

li a:hover{
  background: #fff;
  color: #1db8e8;
  border-radius: 50px;
}

#map{
  margin-top: 40px;
}
/* END MAP CSS */


/* MODAL CSS */
.modal-content {
  max-width: 65%;
  margin: auto;
}

.md-form {
  font-size: 15px;
}

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}
/* END MODAL CSS */


/* Begin User Profile CSS */

/* End User Profile CSS */
